<section class="ourteam">
  <div class="container">
    <div class="grid">
      {% for member in section.blocks %}
        {% assign name = member.settings.name %}
        {% assign member_image = member.settings.member_image %}
        {% assign decription = member.settings.description %}
        <div class="grid__imte">
          <article class="member__item">
            <div class="member__image-wrapper">
              {% if member_image %}
                {{ member_image | image_url: width: '400' | image_tag }}
              {% endif %}
              {% if name %}
                <h4>{{ name }}</h4>
              {% endif %}
            </div>
          </article>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Our Team",
  "blocks": [
    {
      "name": "Member",
      "type": "member",
      "settings": [
        {
          "type": "image_picker",
          "id": "member_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        }
      ]
    }
  ]
}
{% endschema %}
