<section class="ourteam">
  <div class="container">
    <div class="row">
      {% for member in section.blocks %}
        <div class="col">
          <article class="team__item">
            {{ page }}
          </article>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
