<section class="ourteam">
  <div class="container">
    <div class="row">
      {% for member in section.blocks %}
        {% assign name = member.settings.name %}
        {% assign image = member.settings.image %}
        {% assign decription = member.settings.description %}
        <div class="col">
          <article class="member__item">
            <div class="member__image-wrapper">
              {% unless image %}
                {{ image | image_tag: class: 'member__img' | image_url: 'medium' }}
              {% endunless %}
            </div>
          </article>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Our Team",
  "blocks": [
    {
      "name": "Member",
      "type": "member",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}
