<section class="ourteam">
  <div class="container">
    <div class="row">
      {% for member in section.blocks %}
        {% assign name = member.settings.name %}
        {% assign image = member.settings.image %}
        {% assign decription = member.settings.description %}
        <div class="col">
          <article class="team__item">
            {{ image | img_tag | img_url: 'medium' }}
          </article>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
