<h1>{{ page.title }}</h1>
<p> {{ page.content }} </p>
<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum facere quo fuga, voluptatem id nobis adipisci
  saepe odit minima officiis. Delectus hic cupiditate eius tempore consequatur sequi harum accusantium mollitia?</h1>

{% for item in pages %}
<h1>{{ item }}</h1>
{% endfor %}